# Exercise 2 - Database Access

In this exercise we are going to practice accessing RDBMS database using Python.

Create a connection to SQLite sales database (e.g. 'sales.db')

Create a table called *salesman* with the following structure

| column      | type |             |
|-------------|------|-------------|
| salesman_id | text | primary key |
| name        | text |             |
| city        | text |             |
| commision   | real |             |

Populate *salesman* table with the following data:

| salesman_id | name       | city     | commission |
|-------------|------------|----------|------------|
| 5001        | James Hoog | New York | 0.15       |
| 5002        | Nail Knite | Paris    | 0.13       |
| 5005        | Pit Alex   | London   | 0.11       |
| 5006        | Mc Lyon    | Paris    | 0.14       |
| 5003        | Lauson Hen | <na   >  | 0.12       |
| 5007        | Paul Adam  | Rome     | 0.13       |

Write a SQL statement to display all the information of all salesmen.

Write an SQL statement to display the names of all salesmen with above average commission

Increase the commission for all salesmen in Paris by 2% (additional 0.02)

Create customer table

| Column Name | Type    |             |
|-------------|---------|-------------|
| customer_id | text    | primary key |
| cust_name   | text    |             |
| city        | text    |             |
| grade       | integer |             |
| salesman_id | text    | foreign key |

Populate customer table with the following information

| customer_id | cust_name    | city       | grade | salesman_id |
|-------------|--------------|------------|-------|-------------|
| 3002        | Nick Rimando | New York   | 100   | 5001        |
| 3005        | Graham Zusi  | California | 200   | 5002        |
| 3001        | Brad Guzan   | London     | 100   | 5005        |
| 3004        | Fabian Johns | Paris      | 300   | 5006        |
| 3007        | Brad Davis   | New York   | 200   | 5001        |
| 3009        | Geoff Camero | Berlin     | 100   | 5003        |
| 3008        | Julian Green | London     | 300   | 5002        |
| 3003        | Jozy Altidor | Moscow     | 200   | 5007        |

Write a SQL statement to display all the information for those customers with a grade of 200.

Write an SQL statement to display the customer name, salesman and the city for customers with a grade of 200 and above.

Don't forget to close the connection!